@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color:darkcyan;font-size:250%; text-align:center;padding-top:100px;font-weight:bold;">Blazor Server & Web Assembly</h1>
<h3 style="color:darkblue;font-size:200%; text-align:center;">Md.Iquball Hossain</h3>
<h3 style="color:darkblue;font-size:150%; text-align:center;">Batch ID: CS/ACSL-M/52/01</h3>
<h3 style="color:darkblue;font-size:120%; text-align:center;">ID:1270381</h3>
